@import url("./styles.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply font-abraham text-main;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  box-sizing: content-box;
}
/* Main homepage styles */
.homepage {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

/* Content styles */
.content {
  @apply relative z-10 flex items-center justify-center;
}

/* Sliding page styles */
.sliding-page {
  @apply absolute bottom-0 w-full h-[100%] bg-main z-50;
  transition: transform 0.5s ease-in-out;
  transform: translateY(90%);
}

.sliding-page::before {
  @apply w-0 h-0 
  border-l-[50px] border-l-transparent
  border-b-[20px] border-b-main
  border-r-[50px] border-r-transparent;
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.sliding-page:hover {
  transform: translateY(110px); /* Move to the top on hover */
  padding: 3rem;
}

.sliding-page:hover .description {
  display: none;
}

.sliding-page:hover::before {
  @apply border-b-white;
  transform: translateX(-50%) translateY(20px) rotateX(180deg); /* Point downwards on hover */
}

/* Custom container styles */
.note-container {
  @apply w-full;
  background-image: repeating-linear-gradient(
    0deg,
    black,
    black 1px,
    transparent 1px,
    transparent 40px
  ); /* Adjust the background size */
  background-size: 100% 40px; /* Adjust the background size */
}

/* Custom textarea styles */
.note-textarea {
  @apply w-full h-full border-none resize-none outline-none;
  background: transparent;
  line-height: 39px !important; /* Match the line height with the background lines */
  font-size: 16px; /* Adjust as necessary */
  padding-top: 0.25em; /* Adjust this value to align the text correctly above the lines */
}

.btn {
  @apply text-center rounded-sm z-10 flex items-center tracking-normal text-white bg-main self-center text-2xl cursor-pointer py-1 px-2 hover:bg-transparent hover:text-main hover:border hover:border-main transition-all;
}

.pressed-grow {
  transform: scale(1.15); /* Shrinks the button slightly */
  transition: transform 0.1s ease; /* Smooth transition */
}

.pressed-left {
  transform: translateX(-50%);
  transition: transform 0.3s ease;
}

.pressed-left-sm {
  transform: translateX(-35%);
  transition: transform 0.3s ease;
}

.pressed-right {
  transform: translateX(10%);
  transition: transform 0.3s ease;
}

.pressed-right-lg {
  transform: translateX(30%);
  transition: transform 0.3s ease;
}

.pressed-shrink {
  animation: shrink 0.5s forwards;
}

.icon-hidden {
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.icon-shrink {
  margin: 0 5rem;
  transition: margin 0.3s ease;
}

@keyframes shrink {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
    opacity: 0;
  }
}
